@media (max-width: 1200px)  {
    #header {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }
    #nav {
        display: flex;
        align-items: center;
    }
    #btn-mobile {
        margin-left: auto;
    }
    #menu {
        display: none;
    }
    #nav.active #menu {
        display: block;
        position: absolute;
        width: max-content;
        top: 50px;
        right: 0px;
        background-color: var(--cor-terciaria);
        display: block;
        z-index: 1000;
        border-bottom-left-radius: .5rem;
    }
    #menu li {
        padding: 1rem;
        font-weight: 500;
    }
    #btn-mobile {
        display: flex;
        background-color: transparent;
        border: none;
        padding-right: .5rem;
    }
    .sobre-mim {
        gap: 1rem;
    }
    body {
        font-size: 16px;
    }
    .home {
        flex-direction: column-reverse;
        padding: 15%;
    }
    .home h1 {
        font-size: 36px;
    }
    .imagens {
        align-items: center;
    }
    .cabecalho {
        display: none;
    }
    .informacoes-home {
        text-align: center;
    }
    .contato {
        text-align: start;
    }

    .item-menu-habilidades {
        flex-direction: column;
    }
    .icones-interesses {
        width: 6rem;
    }

}
