@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Raleway:wght@300;500&display=swap');

:root {
    --cor-primaria: #F7F1E5;
    --cor-secundaria: #4C4B16;
    --cor-terciaria: #E7B10A;
    --cor-quaternaria: #898121;
    --cor-quintenaria: #FFD95A;

    --fonte-primaria: 'Instrument Serif', serif;
    --fonte-secundaria: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



body {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    position: fixed;
    right: 0%;
    left: 0%;
    background-color: var(--cor-terciaria);
    box-shadow: 0px 3px 10px var(--cor-secundaria);
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}


.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--cor-secundaria)
}

.menu-mobile-icon {
   display: none;
}

.menu-mobile {
    display: none;
}

.menu a:hover {
    background: var(--cor-quaternaria);
    color: var(--cor-quintenaria)
}


.home {
    background-color: var(--cor-terciaria);
    padding: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.home h1 {
    font-family: var(--fonte-primaria);
    font-size: 96px;
}

.informacoes-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.icones-texto {
    display: flex;
    gap: 10px
}

.imagens {
    display: flex;
    flex-direction: column;
}

.foto-ludmila {
    width: 300px;
    border-radius: 50%;
    border: 7px solid var(--cor-quaternaria)
}

.container-icones {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.item-menu {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
    background-color: var(--cor-primaria);
}

.sobre-mim {
    display: flex;
    align-items: center;
    padding: 10%;
    gap: 1.5rem;
}

.sobre-mim-texto {
    /* padding: 5% 10% 5% 10%; */
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.subtitulo {
    font-family: var(--fonte-primaria);
}

.foto-sobre-mim {
    border: 0.5rem solid var(--cor-quaternaria);
    width: 100%;
}


.link__escuro {
    color: var(--cor-secundaria);
}

.link__claro {
    color: var(--cor-primaria)
}



.boxes {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.box-amarelo {
    background-color: var(--cor-quintenaria);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-secundaria);
}

.box-verde {
    background-color: var(--cor-quaternaria);
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    color: var(--cor-primaria);
}

.texto {
    text-align: center;
    width: 550px;
}


