@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Raleway:wght@300;500&display=swap');

:root {
    --cor-primaria: #F7F1E5;
    --cor-secundaria: #4C4B16;
    --cor-terciaria: #E7B10A;
    --cor-quaternaria: #898121;
    --cor-quintenaria: #FFD95A;

    --fonte-primaria: 'Instrument Serif', serif;
    --fonte-secundaria: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 32px;
    font-weight: 300;
    width: 100vw;
    height: 100vh;
}

#header {
    position: fixed;
    right: 0%;
    left: 0%;
    background-color: var(--cor-terciaria);
}

#menu {
    display: flex;
    justify-content: center;
    gap: 5rem;
    list-style: none;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

#menu a {
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--cor-secundaria)
}

#menu a:hover {
    background: var(--cor-quaternaria);
    color: var(--cor-quintenaria);
    box-shadow: 3px 5px 10px var(--cor-quaternaria);
}

.home {
    background-color: var(--cor-terciaria);
    padding: 10%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.home h1 {
    font-family: var(--fonte-primaria);
    font-size: 96px;
}

.informacoes-home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icones-texto {
    display: flex;
    gap: 10px
}

.imagens {
    display: flex;
    flex-direction: column;
}

.foto-ludmila {
    width: 300px;
    border-radius: 50%;
    border: 7px solid var(--cor-quaternaria)
}

.container-icones {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.icones-interesses {
    width: 8rem;
    transition: 0.7s transform;
}

.icones-interesses:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.item-menu {
    display: flex;
    flex-direction: column;
    padding: 6%;
    gap: 20px;
    background-color: var(--cor-primaria);
}

.sobre-mim {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.sobre-mim-texto {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-family: var(--fonte-primaria);
}

.foto-sobre-mim {
    border: 0.5rem solid var(--cor-quaternaria);
    width: 30%;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    padding: 0 4rem;
}

.box-amarelo {
    background-color: var(--cor-quintenaria);
    width: 60rem;
    height: fit-content;
    border-radius: 10px;
    padding: 1.5rem;
    color: var(--cor-secundaria);
}

.box-amarelo a {
    color: var(--cor-secundaria);
}

.box-verde {
    background-color: var(--cor-quaternaria);
    width: 60rem;
    height: fit-content;
    border-radius: 10px;
    padding: 1.5rem;
    color: var(--cor-primaria);
}

.box-verde a {
    color: var(--cor-primaria)
}

.item-menu-habilidades {
    display: flex;
    gap: 3rem;
    padding: 0 4rem;
}

.logo-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-texto p {
    text-align: center;
}


